* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.content p {
  flex: 1 1 45%;
  border: 1px solid black;
}

.block img {
  width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.block {
  width: 250px;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .content p {
    width: 100%;
  }
  .block {
    width: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

