.container{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}
header{
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
    font-weight: bold;
}
nav{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #b6d4ec;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: large;
    text-align: center;
    align-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
   
}
nav a{
    margin: 15px;
    text-decoration: none;
    color: black;
}

aside{
    grid-column: 1/2;
    grid-row: 3/10;
    background-color: #a1bfd9;
    border-right: 2px solid black;
}

article{
    grid-column: 2/5;
    grid-row: 3/10;
    background-color: #8eabe1;
}

footer{
    grid-column: 1/5;
    grid-row: 10/11;
    text-align: center;
    font-size: medium;
    font-family: "Comic Sans MS";
    font-weight: bold;
    border-top: 2px solid black;
    align-content: center;
}

@media screen and (max-width: 850px) {
    aside {
        grid-column: 1/5;
        grid-row: 3/5;
        border-right: none;
        border-bottom: 2px solid black;
    }
    article {
        grid-column: 1/5;
        grid-row: 5/10;
    }
    
}


