@font-face {
  font-family: RockFont;
  src: url("hellshunx/Hellshunx.otf");
}

h4 {
  font-family: RockFont;
}

.masthead {

  background: rgb(230, 221, 221);

  height: 5em;

}

.centeredText {

  text-align: center;

}

.site-title {

  color: white;

  font-family: RockFont;

  font-size: 80px;

  font-weight: bolder;

}

body{
    border: 1px solid black;
}

.card {
  width: 260px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 80%;
  height: 30%;
  position: relative;
  left: 10%;
  top: 5%;
  margin-bottom: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

