
body{
    background-image: url('paws.jpg');
    border-image-repeat: repeat;
    background-size: 500px 500px;
}

.container{
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  min-height: 1150px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  max-height: 1000px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

header{
    grid-column: 1/9;
    grid-row: 1/2;
    text-align: center;
    font-size: xx-large;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

aside{
    grid-column: 1/3;
    grid-row: 2/20;
    background-color: #a1bfd9;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

article{
  text-align: center;
  grid-column: 3/9;
  grid-row: 2/20;
  background-color: #8eabe1;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid black;
  overflow: hidden;
}

footer{
    grid-column: 1/9;
    grid-row: 20/21;
    text-align: center;
    font-size: medium;
    font-family: "Comic Sans MS";
    font-weight: bold;
    border-top: 2px solid black;
    align-content: center;
}

@media screen and (min-width: 1250px) {
    .container{
        max-width: 1250px;
    }
    .container{
        margin: auto;
    }
}
@media screen and (max-width: 850px) {
    aside {
        grid-column: 1/9;
        grid-row: 3/4;
        border-right: none;
        border-bottom: 2px solid black;
    }
    article {
        grid-column: 1/9;
        grid-row: 4/20;
        flex-direction: column;
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container{
        margin: 0px;
        min-height: 2000px;
        min-width: 600px;
    }
}


*{
    box-sizing: border-box;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  display: flex;
  flex: 1 1 200px;
  height: 350px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(147, 211, 233);
  color: white;
  transform: rotateY(180deg);
}
